families.loginto.me {
    # Route API requests to backend
    handle_path /api* {
        reverse_proxy backend:8000
    }

    # All other requests to frontend
    handle {
        reverse_proxy frontend:5173
    }

    # Enable compression
    encode zstd gzip

    # Basic security headers
    header {
        Content-Security-Policy "default-src 'self'; base-uri 'self'; object-src 'none'; frame-ancestors 'none'; form-action 'self'; img-src 'self' data: blob:; font-src 'self' data:; script-src 'self'; style-src 'self' 'unsafe-inline'; connect-src 'self';"
        # disable FLoC tracking
        Permissions-Policy interest-cohort=()
        # enable HSTS
        Strict-Transport-Security max-age=31536000;
        # disable clients from sniffing the media type
        X-Content-Type-Options nosniff
        # clickjacking protection
        X-Frame-Options DENY
        # keep referrer data off of HTTP connections
        Referrer-Policy no-referrer-when-downgrade
    }
}
